html{
    background-image: url("/src/components/Backgroundx4.png");
}
.main{
    margin: auto;
    padding: 120px;
    text-align: center;
    width: 50%;
    height: 100%;
}
.container{
    margin: 5% auto 5% auto;
    text-align: center;
    font-family: 'Chango', serif;
    font-style: normal;
    font-weight: normal;
    background: #FFAF36;
    border: 7px solid #000000;
    border-radius: 45px;
    cursor: pointer;
}
.container2{
    margin: 5% auto 5% auto;
    text-align: center;
    font-family: 'Chango', serif;
    font-style: normal;
    font-weight: normal;
    background: #FFAF36;
    border: 7px solid #000000;
    border-radius: 45px;
}
#btnText{
    font-size: 32px;
    color: black;
}
.input{
    width: 98%;
    height: 60px;
    font-size: 32px;
}
#title1{
    font-size: 20px;
}
#title2{
    font-size: 40px;
}