html{
    background-image: url("/src/components/Backgroundx4.png");
}
.main{
    margin: auto;
    padding: 120px;
    text-align: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.main-game{
    margin: auto;
    padding: 20px;
    width: 95%;
    height: 100%;
    overflow: hidden;
}

.container-answer-header{
    text-align: center;
    font-family: 'Chango', serif;
    font-style: normal;
    font-weight: normal;
    background: #FFAF36;
    border: 7px solid #000000;
    border-radius: 20px;
}
.p{
    text-decoration: none;
}
.btnText{
    font-size: 32px;
    color: black;
}
#title1{
    font-size: 20px;
}
#title2{
    font-size: 40px;
}
#category{
    font-size: 16px;
}
.header-cat{
    font-family: 'Chango', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.container7{
    margin: 5% auto 0% auto;
    text-align: center;
    font-family: 'Chango', serif;
    font-style: normal;
    font-weight: normal;
    background: #FFAF36;
    border: 7px solid #000000;
    border-radius: 20px;
    overflow: hidden;
}
.container-category{
    margin-top: 1%;
    font-family: 'Chango', serif;
    font-style: normal;
    font-weight: normal;
    background: #FFAF36;
    border: 7px solid #000000;
    border-radius: 20px;
    padding: 0% 1% 0% 1%;
}
#wrapper{
    display: flex;
    overflow: hidden;
}
#left{
    float: left;
    width: 49.9%;
}
#right{
    float: left;
    width: 49.9%;
}
#player{
    text-align: left;
}
#answer{
    text-align: right;
}
